doctype html
html(lang='en')
  head
    include menu.pug
  body
    .jumbotron.text-center
      h1 Entertainment
    title Tool Bar
    

    include navbar.pug
    .container
      h2  News 
    .container
      .row
        .col-md-4
          .thumbnail
            a(href='https://www.npr.org/sections/goatsandsoda/2018/12/01/671891818/dolce-gabbana-ad-with-chopsticks-provokes-public-outrage-in-china')
              img(src='images/dg.jpg' alt='Lights' style='width:100%')
              .caption
                h4 Dolce and Gabbana； 杜嘉班纳
            p 杜嘉班纳因为一个广告被指出有种族歧视的嫌疑。广告中有一个亚洲女人被展示的有点呆傻，用筷子吃pizza。杜嘉班纳在事发之后出来给出道歉，但是，为杜嘉班纳的亚洲品牌大使的迪丽热巴依然跟杜嘉班纳解除了合作关系。之间事情对杜嘉和班纳的身价造成了总大的打击。他们的身价减了一半。这对杜嘉班纳在亚洲的市场很有影响。
        .col-md-4
          .thumbnail
            a(href='http://www.sohu.com/a/309446508_649045')
              img(src='images/hua.jpg' alt='Nature' style='width:100%')
              .caption
                h4 Huaqiangbei; 华强北
            p 深圳的华强北是一个生产山寨品的地点。华强北现在不仅可以在别人的产品上进行复制也可以自己开发关于人工智能的科技。华强北的高效率和无所不能的创造力是很多国家无法超越的。之前的复制是政府对知识产权的松懈所造成的，但是现在政府严格管理之下，华强北应该会遇到些麻烦。
        .col-md-4
          .thumbnail
            a(href='https://www.bbc.com/zhongwen/simp/business-47910300')
              img(src='images/trade.jpg' alt='Fjords' style='width:100%')
              .caption
                h4 Trade War; 中美贸易战
            p 中美贸易战现在对两国的经济和关系构成了很大影响。美国开始贸易战的原因是因为特朗普认为美国在贸易上的开销太过庞大。在中国的进口商品上附加关税会省下一大笔开销。一开始美国的经济因此上升了不少但是很快中国开始反击，美国的经济不但没有提高反而一路下滑。现在两国之间的关系非常僵。


.container
      h2  TV Shows 
      .container
      .row
        .col-md-4
          .thumbnail
            a(href='https://www.youtube.com/watch?v=tpzB30jiskY')
              img(src='images/running.jpg' alt='Lights' style='width:100%')
              .caption
                h4 奔跑吧； Running
            p 《奔跑吧》是中國浙江衛視制作的真人實境秀节目。游戏设定为成员与嘉宾前往各个任务地点进行前期任务，由胜出的队伍或个人获得对最终任务有利之提示或权力，最后在最终任务地点完成最终任务。最终任务游戏沿用《Running Man》的“撕名牌”环节。
        .col-md-4
          .thumbnail
            a(href='https://www.youtube.com/watch?v=oz13PlFLRKw')
              img(src='images/happy.jpg' alt='Nature' style='width:100%')
              .caption
                h4 快乐大本营; Happy Camp
            p 《快乐大本营》是由中国大陆湖南卫视推出的一档综艺节目，于1997年7月11日首播，是中国大陆颇具影响力的综艺节目之一。《快乐大本营》从2017年7月1日起开始的特辑阵容和环节会增加一些素人嘉宾，以符合进黄金档的规定。
        .col-md-4
          .thumbnail
            a(href='https://www.youtube.com/watch?v=8wry4k3y-zQ')
              img(src='images/wang.jpg' alt='Fjords' style='width:100%')
              .caption
                h4 王牌对王牌
            p 《王牌对王牌》是浙江卫视推出的大型原创室内竞技真人秀节目，由浙江卫视节目中心制作。节目每期围绕一个主题，邀请两支王牌团队，由两队固定队长各带领多名热门IP嘉宾进行PK对战，通过才艺比拼、游戏竞技，决出王牌中的王牌。



.container
      h2  Movies
      .container
      .row
        .col-md-4
          .thumbnail
            a(href='https://www.youtube.com/watch?v=lOvpSjzRIrk')
              img(src='images/san.jpg' alt='Lights' style='width:100%')
              .caption
                h4 三生三世十里桃花
            p 翼君擎苍向神族挑起战争，神族付出惨痛代价封印了擎苍，同年天孙夜华出世。七万年后擎苍破出封印，青丘狐帝幺女白浅再次将擎苍封印，因此被封法力、记忆和容貌，落入凡尘与夜华相识、相恋，后被带入天宫。
        .col-md-4
          .thumbnail
            a(href='https://www.youtube.com/watch?v=LyWDwp87q_w')
              img(src='images/monster.jpg' alt='Nature' style='width:100%')
              .caption
                h4 捉妖记；Monster Hunt
            p 影片主要讲述了小伙子天荫阴差阳错地怀上了即将降世的小妖王，他被降妖天师小岚一路保护着躲过各种妖怪。虽然二人渐渐对小妖产生了感情，小岚却明白她只为把这只惹人眼红的小妖卖个好价钱。
        .col-md-4
          .thumbnail
            a(href='https://www.youtube.com/watch?v=S0fh0xlrPnA')
              img(src='images/pride.jpg' alt='Fjords' style='width:100%')
              .caption
                h4 傲娇与偏见
            p 《傲娇与偏见》疯魔鬼畜的剧情让人爆笑不停，甜蜜暖心的爱情让人意犹未尽，女主角唐楠楠不仅思维上天马行空、脑洞大开，行为上也不拘小节，“女汉子力”MAX，堪称爱情电影女主中的一股“泥石流”。

    
