doctype html
html(lang='en')
  head
    include menu.pug
  body
    .jumbotron.text-center
      h1 Online Resources
    title Tool Bar
    

    include navbar.pug
    
    .container
      .row
      h2 AT Mandarin Website
      h2 
        .col-md-12
          .thumbnail
            a(href='https://sites.google.com/s/1z1w9vmsNfpCYCZz-5vewI3JUfPF3S1Pc/p/1OCvw5OWr0zTLUIASLYmQ6Uvgnjk-xqDM/edit')
              img(src='images/advanced.jpg' alt='Lights' style='width:100%')
              
                
    .container
     h2 Flying Tiger Website
     h2
     .col-md-12
          .thumbnail
            a(href='https://sites.google.com/s/1DYRceEEQLypLyzRDOGGXDwSS0Fp9ruk5/edit?ts=5cd23f16')
              img(src='images/tiger.jpg' alt='Nature' style='width:100%')
              